body{
    background-image: url('spaceBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
}

.gameContainer{
    min-width: 100vw;
    min-height: 100vh;
    margin: 25px;
}

#bird{
    position: absolute;
    border-radius: 50%;
}


#pipe1{
    background-color: hsl(240, 81%, 60%);
    width: 60px;
    height: 270px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    top: 0;
    left: 20vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}


#pipe4{
    background-color: hsl(16, 91%, 40%);
    width: 60px;
    height: 270px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    bottom: 0;
    left: 20vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}


#pipe5{
    background-color: hsl(16, 91%, 40%);
    width: 60px;
    height: 210px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    top: 0;
    right: 20vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}



#pipe7{
    background-color: hsl(240, 81%, 60%);
    width: 60px;
    height: 330px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    bottom: 0;
    right: 20vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}



#pipe9{
    background-color: hsl(240, 81%, 60%);
    width: 60px;
    height: 210px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    bottom: 0;
    right: 50vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#pipe11{
    background-color: hsl(16, 91%, 40%);
    width: 60px;
    height: 330px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid black;
    top: 0;
    right: 50vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#score{
    position: absolute;
    color: white;
    font-size: 1.5em;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    backdrop-filter: blur(5px);
}

#gameOverBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2em;
    z-index: 1000;
    padding: 20px;
    border: 2px solid red;
    color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
#gameOverBox button{
    font-size: 1em;
    background-color: hsl(300, 88%, 38%);
    color: aqua;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#gameOverBox button:hover{
    background-color: hsl(300, 88%, 30%);
}

#instructions{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1000;
    padding: 20px;
    border: 2px solid red;
    color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
#head{
    font-size: 2.5em;
}
#statements{
    font-size: 1.5em;
}

#instructions button{
    font-size: 1em;
    background-color: hsl(120, 84%, 41%);
    color: aqua;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5em;
}
#instructions button:hover{
    background-color: hsl(120, 84%, 31%);
}